.env
# virtual environment
venv/
.venv/
__pycache__/
node_modules/

__pycache__/
digest.txt
*.pyc

# Audio + STT artifacts
audio/*.wav
*.srt
*.vtt
*.tsv
*.json
*.txt

#Reply_Audio
reply.wav
temp_*.wav
